/* photos */
    article:nth-child(1) .photo {background-image: url(img/p07.jpg);}
    article:nth-child(2) .photo {background-image: url(img/p08.jpg);}
    article:nth-child(3) .photo {background-image: url(img/p01.jpg);}
    article:nth-child(4) .photo {background-image: url(img/p02.jpg);}
    article:nth-child(5) .photo {background-image: url(img/p03.jpg);}
    article:nth-child(6) .photo {background-image: url(img/p04.jpg);}
    article:nth-child(7) .photo {background-image: url(img/p05.jpg);}
    article:nth-child(8) .photo {background-image: url(img/p06.jpg);}
    article:nth-child(9) .photo {background-image: url(img/p09.jpg);}
    article:nth-child(10) .photo {background-image: url(img/p10.jpg);}
    article:nth-child(11) .photo {background-image: url(img/p11.jpg);}
    article:nth-child(12) .photo {background-image: url(img/p12.jpg);} 

/* liststyle */
    .listStyle .container {max-width: 1000px; margin: 30px auto; }
    .listStyle ul {display: flex; justify-content: flex-end; padding-right: 10px;}
    .listStyle li {margin-left: 15px;}
    .listStyle i {font-size: 25px; opacity: 0.5;}
    .listStyle i:hover {cursor: pointer; opacity: 0.3;}

/* listB */
    .listB .container {display: flex; flex-wrap: wrap; max-width: 1000px; margin: 30px auto;} /* flex-wrap: wrap - break items into multiple lines. */
    .listB article {flex: 1 1 300px;/* item의 길이가 300px을 넘어서는 순간 line break된다. */ display: flex;}
    .listB a {flex: 1;/* article 내부의 a 길이 일정하게 맞춰주기 */ display: block; border: 1px solid #ddd; color: inherit; text-decoration: none; margin: 2px; padding: 2px;} /* span: 이미지와 글자 위에 정확하게 커서를 올려야 링크 가능. block: 여백에 올려도 가능. */
        .listB a:hover {opacity: .8;}
    .listB .photo {min-height: 150px; background-position: center; background-size: cover;}
    .listB .text {margin: 10px; word-break: keep-all;}
        .listB h2 {font-weight: bold;font-size: 18px; line-height: 1.5;}
        .listB p {font-size: 14px; opacity: 0.8; margin-top: 10px; line-height: 1.5;}

/* listA */
    .listA .container {display: flex; flex-wrap: wrap; max-width: 1000px; margin: 30px auto;} /* flex-wrap: wrap - break items into multiple lines. */
    .listA article {flex: 1 1 384px;/* item의 길이가 300px을 넘어서는 순간 line break된다. */ display: flex;}
    .listA a {flex: 1;/* article 내부의 a 길이 일정하게 맞춰주기 */ display: block; border: 1px solid #ddd; color: inherit; text-decoration: none; margin: 2px; padding: 2px; display: flex;} /* span: 이미지와 글자 위에 정확하게 커서를 올려야 링크 가능. block: 여백에 올려도 가능. */
        .listA a:hover {opacity: .8;}
    .listA .photo {flex:2; min-height: 75px; background-position: center; background-size: cover;}
    .listA .text {flex:3; margin: 10px; word-break: keep-all;}
        .listA h2 {font-weight: bold;font-size: 18px; line-height: 1.5;}
        .listA p {font-size: 14px; opacity: 0.8; margin-top: 10px; line-height: 1.5;}
    @media (max-width: 384px) {
        .listA a {align-items: center;}
        .listA .photo {flex: 1;}
        .listA .text {flex: 3;}
        .listA p {display: none; }
    }

/* listC */
    .listC .container {display: flex; flex-wrap: wrap; max-width: 1000px; margin: 30px auto;} /* flex-wrap: wrap - break items into multiple lines. */
    .listC article {flex: 1 1 300px;/* item의 길이가 300px을 넘어서는 순간 line break된다. */ display: flex;}
    .listC a {flex: 1;/* article 내부의 a 길이 일정하게 맞춰주기 */ display: block; padding:2px; color: inherit; text-decoration: none; margin: 0px; position: relative;/**/} /* span: 이미지와 글자 위에 정확하게 커서를 올려야 링크 가능. block: 여백에 올려도 가능. */
        .listC a:hover {opacity: .8;}
    .listC .photo {min-height: 250px; background-position: center; background-size: cover; }
    .listC .text {margin: 10px; word-break: keep-all; position: absolute; left: 0; bottom: 0; position: absolute; left: 0; bottom: 0; color: #fff; font-weight: bold; text-shadow:
        -0.5px -0.5px 0 #000,  
         0.5px -0.5px 0 #000,
         -0.5px 0.5px 0 #000,
          0.5px 0.5px 0 #000;} /* An absolute positioned element is relative to the next parent element with 'position:relative'. If there is no such parent, it will default all the way up to the <html> element. */ 
        .listC h2 {font-size: 18px; line-height: 1.5;}
        .listC p {font-size: 14px; margin-top: 10px; line-height: 1.5; color: #e7e7e7}

    /* photos */
        .listC article:nth-child(1) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p07.jpg);}
        .listC article:nth-child(2) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p08.jpg);}
        .listC article:nth-child(3) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p01.jpg);}
        .listC article:nth-child(4) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p02.jpg);}
        .listC article:nth-child(5) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p03.jpg);}
        .listC article:nth-child(6) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p04.jpg);}
        .listC article:nth-child(7) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p05.jpg);}
        .listC article:nth-child(8) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p06.jpg);}
        .listC article:nth-child(9) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p09.jpg);}
        .listC article:nth-child(10) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p10.jpg);}
        .listC article:nth-child(11) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p11.jpg);}
        .listC article:nth-child(12) .photo {background-image: linear-gradient(rgba(0,0,0,0)30%, rgba(0,0,0,0.9)100%), url(img/p12.jpg);} 
