/* listA */
    .listA .container {display: flex; flex-wrap: wrap; max-width: 1000px; margin: 30px auto;} /* flex-wrap: wrap - break items into multiple lines. */
    .listA article {flex: 1 1 300px;/* item의 길이가 300px을 넘어서는 순간 line break된다. */ display: flex;}
    .listA a {flex: 1;/* article 내부의 a 길이 일정하게 맞춰주기 */ display: block; border: 1px solid #ddd; color: inherit; text-decoration: none; margin: 10px; padding: 10px;} /* span: 이미지와 글자 위에 정확하게 커서를 올려야 링크 가능. block: 여백에 올려도 가능. */
    .listA a:hover {opacity: .8;}
    .listA .photo {min-height: 150px; background-position: center; background-size: cover;}
    .listA .text {margin: 10px;}
        .listA h2 {font-size: 18px; line-height: 1.5;}
        .listA p {font-size: 14px; opacity: 0.8; margin-top: 10px; line-height: 1.5;}